$background: hsl(240, 22%, 90%);
$background2: hsl(240, 26%, 88%);
$background3: hsl(240, 30%, 85%);

// Primary
$primary: hsl(240, 30%, 72%);
$secondary: hsl(240, 25%, 70%);
$accent: hsl(240, 77%, 58%);

// Text color
$text: hsl(240, 29%, 10%);
$text2: hsl(240, 29%, 20%);
$text3: hsl(240, 29%, 30%);

// Colors
$black1: hsl(0, 0%, 10%);
$black2: hsl(0, 0%, 20%);
$black3: hsl(0, 0%, 30%);
$black4: hsl(0, 0%, 40%);
$white1: hsl(240, 29%, 90%);
$white2: hsl(240, 29%, 80%);
$white3: hsl(240, 29%, 70%);
$white4: hsl(240, 29%, 60%);

// Beige
$beige1: hsl(45, 30%, 80%);
$beige2: hsl(45, 30%, 70%);
$beige3: hsl(45, 30%, 60%);
$beige4: hsl(45, 30%, 50%);

// Rose
$rose1: hsl(330, 80%, 70%);
$rose2: hsl(330, 80%, 60%);
$rose3: hsl(330, 80%, 50%);
$rose4: hsl(330, 80%, 40%);

// Mauve
$mauve1: hsl(270, 30%, 70%);
$mauve2: hsl(270, 30%, 60%);
$mauve3: hsl(270, 30%, 50%);
$mauve4: hsl(270, 30%, 40%);

// Violet
$violet1: hsl(260, 80%, 50%);
$violet2: hsl(260, 80%, 40%);
$violet3: hsl(260, 80%, 30%);
$violet4: hsl(260, 80%, 20%);

// Rouge
$rouge1: hsl(0, 70%, 50%);
$rouge2: hsl(0, 70%, 40%);
$rouge3: hsl(0, 70%, 30%);
$rouge4: hsl(0, 70%, 20%);

// Vert
$vert1: hsl(120, 80%, 50%);
$vert2: hsl(120, 80%, 40%);
$vert3: hsl(120, 80%, 30%);
$vert4: hsl(120, 80%, 20%);

// Vert-cyan
$vert-cyan1: hsl(160, 80%, 50%);
$vert-cyan2: hsl(160, 80%, 40%);
$vert-cyan3: hsl(160, 80%, 30%);
$vert-cyan4: hsl(160, 80%, 20%);

// Cyan
$cyan1: hsl(180, 80%, 50%);
$cyan2: hsl(180, 80%, 40%);
$cyan3: hsl(180, 80%, 30%);
$cyan4: hsl(180, 80%, 20%);

// Bleu
$bleu1: hsl(210, 80%, 50%);
$bleu2: hsl(210, 80%, 40%);
$bleu3: hsl(210, 80%, 30%);
$bleu4: hsl(210, 80%, 20%);

// Bleu-ciel
$bleu-ciel1: hsl(200, 80%, 60%);
$bleu-ciel2: hsl(200, 80%, 50%);
$bleu-ciel3: hsl(200, 80%, 40%);
$bleu-ciel4: hsl(200, 80%, 30%);

// Gris
$gris1: hsl(240, 10%, 50%);
$gris2: hsl(240, 10%, 40%);
$gris3: hsl(240, 10%, 30%);
$gris4: hsl(240, 10%, 20%);