$background: hsl(240, 12%, 8%);
$background2: hsl(240, 12%, 12%);
$background3: hsl(240, 12%, 16%);
$background4: hsl(240, 12%, 19%);

// Primary
$primary: hsl(240, 83%, 55%);
$secondary: hsl(240, 32%, 45%);
$accent: hsl(240, 83%, 60%);

// Text color
$text: hsl(240, 29%, 90%);
$text2: hsl(240, 29%, 100%,);
$text3: hsl(240, 29%, 70%);

// Colors
$black1: hsl(0, 0%, 10%);
$black2: hsl(0, 0%, 20%);
$black3: hsl(0, 0%, 30%);
$black4: hsl(0, 0%, 40%);
$white1: hsl(240, 29%, 90%);
$white2: hsl(240, 29%, 100%,);
$white3: hsl(240, 29%, 70%);
$white4: hsl(240, 29%, 60%);

// Beige
$beige1: hsl(45, 25%, 100%,);
$beige2: hsl(45, 25%, 70%);
$beige3: hsl(45, 25%, 60%);
$beige4: hsl(45, 25%, 50%);

// Rose
$rose1: hsl(330, 100%, 70%);
$rose2: hsl(330, 100%, 60%);
$rose3: hsl(330, 100%, 50%);
$rose4: hsl(330, 100%, 40%);

// Mauve
$mauve1: hsl(270, 100%, 70%);
$mauve2: hsl(270, 100%, 60%);
$mauve3: hsl(270, 100%, 50%);
$mauve4: hsl(270, 100%, 40%);

// Violet
$violet1: hsl(260, 100%, 50%);
$violet2: hsl(260, 100%, 40%);
$violet3: hsl(260, 100%, 30%);
$violet4: hsl(260, 100%, 20%);

// Rouge
$rouge1: hsl(0, 100%, 50%);
$rouge2: hsl(0, 100%, 40%);
$rouge3: hsl(0, 100%, 30%);
$rouge4: hsl(0, 100%, 20%);

// Vert
$vert1: hsl(120, 100%, 71%);
$vert2: hsl(120, 100%, 40%);
$vert3: hsl(120, 100%, 30%);
$vert4: hsl(120, 100%, 20%);

// Vert-cyan
$vert-cyan1: hsl(160, 100%, 50%);
$vert-cyan2: hsl(160, 100%, 40%);
$vert-cyan3: hsl(160, 100%, 30%);
$vert-cyan4: hsl(160, 100%, 20%);

// Cyan
$cyan1: hsl(180, 100%, 50%);
$cyan2: hsl(180, 100%, 40%);
$cyan3: hsl(180, 100%, 30%);
$cyan4: hsl(180, 100%, 20%);

// Bleu
$bleu1: hsl(210, 100%, 50%);
$bleu2: hsl(210, 100%, 40%);
$bleu3: hsl(210, 100%, 30%);
$bleu4: hsl(210, 100%, 20%);

// Bleu-ciel
$bleu-ciel1: hsl(200, 100%, 60%);
$bleu-ciel2: hsl(200, 100%, 50%);
$bleu-ciel3: hsl(200, 100%, 40%);
$bleu-ciel4: hsl(200, 100%, 30%);

// Orange
$orange1: hsl(30, 100%, 60%);
$orange2: hsl(30, 100%, 50%);
$orange3: hsl(30, 100%, 40%);
$orange4: hsl(30, 100%, 30%);

// jaune
$jaune1: hsl(60, 100%, 60%);
$jaune2: hsl(60, 100%, 50%);
$jaune3: hsl(60, 100%, 40%);
$jaune4: hsl(60, 100%, 30%);

// Gris
$gris1: hsl(240, 10%, 50%);
$gris2: hsl(240, 10%, 40%);
$gris3: hsl(240, 10%, 30%);
$gris4: hsl(240, 10%, 20%);