:root {
    --misty-rose: #fde8e4;
    --light-red: #f6d0d0;
    --pink-lace: #fbd8f0;
    --mauve: #d1b3ff;
    --light-salmon-pink: #f29a9c;
    --amaranth-pink: #f2aab0;
    --macaroni-and-cheese: #fbb693;
    --wheat: #f3d7b1;
    --granny-smith-apple: #b7e4a1;
    --pale-robin-egg-blue: #9cdbc9;
    --non-photo-blue: #a2e2eb;
    --baby-blue: #89d6ee;
    --jordy-blue: #9cb6f5;
    --lavender-blue: #c4c8fb;
    --azureish-white: #dde3fa;
    --periwinkle-crayola: #c9d2e9;
    --light-steel-blue: #b1badb;
    --blue-bell: #9ea3c1;
    --cool-grey: #8991ad;
    --rhythm: #747c99;
    --dark-electric-blue: #626781;
    --independence: #4d526b;
    --charcoal: #3b3f5a;
    --gunmetal: #2a2e48;
    --yankees-blue: #232540;
    --dark-gunmetal: #1a1b2c;
}