$color-pink-light: #fde8e4;
$color-pink-lighter: #f6d0d0;
$color-pink-lightest: #fbd8f0;
$color-purple-light: #d1b3ff;
$color-red-light: #f29a9c;
$color-red-lighter: #f2aab0;
$color-orange: #fbb693;
$color-peach: #f3d7b1;
$color-green-light: #b7e4a1;
$color-green-pale: #9cdbc9;
$color-blue-light: #a2e2eb;
$color-blue-lighter: #89d6ee;
$color-blue: #9cb6f5;
$color-purple-pale: #c4c8fb;
$color-blue-palest: #dde3fa;
$color-purple-lightest: #c9d2e9;
$color-blue-lightest: #b1badb;
$color-blue-grey: #9ea3c1;
$color-blue-dark: #8991ad;
$color-blue-darker: #747c99;
$color-blue-darkest: #626781;
$color-blue-deepest: #4d526b;
$color-navy: #3b3f5a;
$color-charcoal: #2a2e48;
$color-dark-grey: #232540;
$color-black: #1a1b2c;
