$color-blue-pale: #dfe9f4;
$color-blue-lighter: #d1e3f0;
$color-lavender: #e1d8f5;
$color-lilac: #c2baf6;
$color-purple-pale: #c8a4ed;
$color-lavender-light: #d4b3f0;
$color-purple-lighter: #dcb8e7;
$color-lavender-lighter: #d8bce7;
$color-aqua-light: #a4c6e6;
$color-aqua-pale: #8ec8da;
$color-sky-blue: #93d4e8;
$color-blue-pale: #78bde4;
$color-blue-grey-light: #89aee6;
$color-blue-lavender: #a1baf8;
$color-sky-blue-light: #c1d3f7;
$color-blue-grey: #b4c0e3;
$color-blue-grey-dark: #9faacd;
$color-blue-grey-darker: #8a95b7;
$color-blue-grey-darkest: #7480a1;
$color-navy-blue: #60728b;
$color-navy-blue-dark: #515e77;
$color-navy-blue-darker: #444b63;
$color-navy-blue-darkest: #373a50;
$color-navy-blue-deepest: #2b2e3d;
$color-charcoal: #212332;
$color-black: #1a1c28;
